[submodule "templates/ProjectTemplate/QtProjectTemplate/Project/3rdparty/easy_translate"]
	path = templates/ProjectTemplate/QtProjectTemplate/Project/3rdparty/easy_translate
	url = https://github.com/jaderochan/easy_translate
